body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #555;
}
.collage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* creates a responsive grid layout */
    grid-gap: 10px; /* space between images */
    margin-top: 20px;
    padding: 0 10px; /* adds padding on the sides */
    max-height: 400px; /* adjust based on your screen size */
    overflow: hidden; /* hides parts that overflow */
}

.collage img {
    width: 100%;
    height: auto;
    object-fit: cover;
}